@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?sbj5zk');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?sbj5zk#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?sbj5zk') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?sbj5zk') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?sbj5zk##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-clock {
  &:before {
    content: $icon-clock; 
  }
}
.icon-database {
  &:before {
    content: $icon-database; 
  }
}
.icon-codepen {
  &:before {
    content: $icon-codepen; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-circle-right {
  &:before {
    content: $icon-circle-right; 
  }
}
.icon-circle-down {
  &:before {
    content: $icon-circle-down; 
  }
}
.icon-checkbox-checked1 {
  &:before {
    content: $icon-checkbox-checked1; 
  }
}
.icon-checkbox-unchecked {
  &:before {
    content: $icon-checkbox-unchecked; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-newspaper {
  &:before {
    content: $icon-newspaper; 
  }
}
.icon-folder-upload {
  &:before {
    content: $icon-folder-upload; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-user-img {
  &:before {
    content: $icon-user-img; 
  }
}
.icon-unlocked {
  &:before {
    content: $icon-unlocked; 
  }
}
.icon-cog {
  &:before {
    content: $icon-cog; 
  }
}
.icon-pie-chart {
  &:before {
    content: $icon-pie-chart; 
  }
}
.icon-stats-dots {
  &:before {
    content: $icon-stats-dots; 
  }
}
.icon-upload2 {
  &:before {
    content: $icon-upload2; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-checkbox-checked {
  &:before {
    content: $icon-checkbox-checked; 
  }
}
.icon-table2 {
  &:before {
    content: $icon-table2; 
  }
}
.icon-file-excel {
  &:before {
    content: $icon-file-excel; 
  }
}
.icon-branch-d .path1 {
  &:before {
    content: $icon-branch-d-path1;  
    color: rgb(44, 44, 48);
  }
}
.icon-branch-d .path2 {
  &:before {
    content: $icon-branch-d-path2;  
    margin-left: -0.7685546875em;  
    color: rgb(124, 188, 5);
  }
}
.icon-branch-d .path3 {
  &:before {
    content: $icon-branch-d-path3;  
    margin-left: -0.7685546875em;  
    color: rgb(115, 182, 4);
  }
}
.icon-branch-d .path4 {
  &:before {
    content: $icon-branch-d-path4;  
    margin-left: -0.7685546875em;  
    color: rgb(157, 159, 158);
  }
}
.icon-branch-d .path5 {
  &:before {
    content: $icon-branch-d-path5;  
    margin-left: -0.7685546875em;  
    color: rgb(216, 216, 216);
  }
}
.icon-time-estimate-b {
  &:before {
    content: $icon-time-estimate-b; 
  }
}
.icon-time-estimate-a .path1 {
  &:before {
    content: $icon-time-estimate-a-path1;  
    color: rgb(4, 4, 4);
  }
}
.icon-time-estimate-a .path2 {
  &:before {
    content: $icon-time-estimate-a-path2;  
    margin-left: -1.1279296875em;  
    color: rgb(8, 4, 4);
  }
}
.icon-product-d .path1 {
  &:before {
    content: $icon-product-d-path1;  
    color: rgb(36, 36, 84);
  }
}
.icon-product-d .path2 {
  &:before {
    content: $icon-product-d-path2;  
    margin-left: -1.2412109375em;  
    color: rgb(36, 36, 92);
  }
}
.icon-product-d .path3 {
  &:before {
    content: $icon-product-d-path3;  
    margin-left: -1.2412109375em;  
    color: rgb(40, 36, 84);
  }
}
.icon-product-a .path1 {
  &:before {
    content: $icon-product-a-path1;  
    color: rgb(199, 199, 199);
  }
}
.icon-product-a .path2 {
  &:before {
    content: $icon-product-a-path2;  
    margin-left: -1.203125em;  
    color: rgb(82, 82, 82);
  }
}
.icon-product-a .path3 {
  &:before {
    content: $icon-product-a-path3;  
    margin-left: -1.203125em;  
    color: rgb(4, 4, 4);
  }
}
.icon-product-a .path4 {
  &:before {
    content: $icon-product-a-path4;  
    margin-left: -1.203125em;  
    color: rgb(124, 124, 124);
  }
}
.icon-product-a .path5 {
  &:before {
    content: $icon-product-a-path5;  
    margin-left: -1.203125em;  
    color: rgb(132, 132, 132);
  }
}
.icon-department-c {
  &:before {
    content: $icon-department-c; 
  }
}
.icon-department-b {
  &:before {
    content: $icon-department-b; 
  }
}
.icon-department-a {
  &:before {
    content: $icon-department-a; 
  }
}
.icon-actual-time-a .path1 {
  &:before {
    content: $icon-actual-time-a-path1;  
    color: rgb(45, 68, 84);
  }
}
.icon-actual-time-a .path2 {
  &:before {
    content: $icon-actual-time-a-path2;  
    margin-left: -1em;  
    color: rgb(226, 234, 242);
  }
}
.icon-actual-time-a .path3 {
  &:before {
    content: $icon-actual-time-a-path3;  
    margin-left: -1em;  
    color: rgb(156, 170, 181);
  }
}
.icon-actual-time-a .path4 {
  &:before {
    content: $icon-actual-time-a-path4;  
    margin-left: -1em;  
    color: rgb(192, 201, 204);
  }
}
.icon-actual-time-a .path5 {
  &:before {
    content: $icon-actual-time-a-path5;  
    margin-left: -1em;  
    color: rgb(123, 140, 154);
  }
}
.icon-image2vector .path1 {
  &:before {
    content: $icon-image2vector-path1;  
    color: rgb(44, 44, 48);
  }
}
.icon-image2vector .path2 {
  &:before {
    content: $icon-image2vector-path2;  
    margin-left: -0.7685546875em;  
    color: rgb(124, 188, 5);
  }
}
.icon-image2vector .path3 {
  &:before {
    content: $icon-image2vector-path3;  
    margin-left: -0.7685546875em;  
    color: rgb(251, 251, 251);
  }
}
.icon-image2vector .path4 {
  &:before {
    content: $icon-image2vector-path4;  
    margin-left: -0.7685546875em;  
    color: rgb(115, 182, 4);
  }
}
.icon-image2vector .path5 {
  &:before {
    content: $icon-image2vector-path5;  
    margin-left: -0.7685546875em;  
    color: rgb(157, 159, 158);
  }
}
.icon-branch-a {
  &:before {
    content: $icon-branch-a; 
  }
}
.icon-working-hours-icon {
  &:before {
    content: $icon-working-hours-icon; 
  }
}
.icon-branch-b {
  &:before {
    content: $icon-branch-b; 
  }
}
.icon-branch-c {
  &:before {
    content: $icon-branch-c; 
  }
}
.icon-product-b {
  &:before {
    content: $icon-product-b; 
  }
}
.icon-product-c {
  &:before {
    content: $icon-product-c; 
  }
}
.icon-business-team-icon1 {
  &:before {
    content: $icon-business-team-icon1; 
  }
}
.icon-department {
  &:before {
    content: $icon-department; 
  }
}
.icon-it-department-icon-2 {
  &:before {
    content: $icon-it-department-icon-2; 
  }
}
.icon-Euroland_logo .path1 {
  &:before {
    content: $icon-Euroland_logo-path1;  
    color: rgb(0, 173, 240);
  }
}
.icon-Euroland_logo .path2 {
  &:before {
    content: $icon-Euroland_logo-path2;  
    margin-left: -0.9599609375em;  
    color: rgb(8, 43, 69);
  }
}
.icon-Euroland_logo .path3 {
  &:before {
    content: $icon-Euroland_logo-path3;  
    margin-left: -0.9599609375em;  
    color: rgb(8, 43, 69);
  }
}
.icon-Euroland_logo .path4 {
  &:before {
    content: $icon-Euroland_logo-path4;  
    margin-left: -0.9599609375em;  
    color: rgb(8, 43, 69);
  }
}
.icon-keyboard_arrow_right {
  &:before {
    content: $icon-keyboard_arrow_right; 
  }
}
.icon-keyboard_arrow_left {
  &:before {
    content: $icon-keyboard_arrow_left; 
  }
}
.icon-keyboard_arrow_down {
  &:before {
    content: $icon-keyboard_arrow_down; 
  }
}

