$icomoon-font-family: "resource" !default;
$icomoon-font-path: "fonts" !default;

$icon-download: "\e900";
$icon-clock: "\e94e";
$icon-database: "\e964";
$icon-codepen: "\eae8";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-circle-right: "\ea42";
$icon-circle-down: "\ea43";
$icon-checkbox-checked1: "\ea52";
$icon-checkbox-unchecked: "\ea53";
$icon-home: "\e90b";
$icon-newspaper: "\e90c";
$icon-folder-upload: "\e934";
$icon-calendar: "\e953";
$icon-user-img: "\e971";
$icon-unlocked: "\e990";
$icon-cog: "\e994";
$icon-pie-chart: "\e99a";
$icon-stats-dots: "\e99b";
$icon-upload2: "\e9c6";
$icon-arrow-right: "\ea34";
$icon-arrow-down: "\ea36";
$icon-checkbox-checked: "\ea54";
$icon-table2: "\ea71";
$icon-file-excel: "\eae2";
$icon-branch-d-path1: "\e90d";
$icon-branch-d-path2: "\e90e";
$icon-branch-d-path3: "\e90f";
$icon-branch-d-path4: "\e910";
$icon-branch-d-path5: "\e911";
$icon-time-estimate-b: "\e912";
$icon-time-estimate-a-path1: "\e913";
$icon-time-estimate-a-path2: "\e914";
$icon-product-d-path1: "\e915";
$icon-product-d-path2: "\e916";
$icon-product-d-path3: "\e917";
$icon-product-a-path1: "\e918";
$icon-product-a-path2: "\e919";
$icon-product-a-path3: "\e91a";
$icon-product-a-path4: "\e91b";
$icon-product-a-path5: "\e91c";
$icon-department-c: "\e91d";
$icon-department-b: "\e91e";
$icon-department-a: "\e91f";
$icon-actual-time-a-path1: "\e920";
$icon-actual-time-a-path2: "\e921";
$icon-actual-time-a-path3: "\e922";
$icon-actual-time-a-path4: "\e923";
$icon-actual-time-a-path5: "\e924";
$icon-image2vector-path1: "\e925";
$icon-image2vector-path2: "\e926";
$icon-image2vector-path3: "\e927";
$icon-image2vector-path4: "\e928";
$icon-image2vector-path5: "\e929";
$icon-branch-a: "\e92a";
$icon-working-hours-icon: "\e92b";
$icon-branch-b: "\e92c";
$icon-branch-c: "\e92d";
$icon-product-b: "\e92e";
$icon-product-c: "\e92f";
$icon-business-team-icon1: "\e901";
$icon-department: "\e909";
$icon-it-department-icon-2: "\e90a";
$icon-Euroland_logo-path1: "\e905";
$icon-Euroland_logo-path2: "\e906";
$icon-Euroland_logo-path3: "\e907";
$icon-Euroland_logo-path4: "\e908";
$icon-keyboard_arrow_right: "\e902";
$icon-keyboard_arrow_left: "\e903";
$icon-keyboard_arrow_down: "\e904";

