// CORE FILE TO DECLARE ABSOLUTE PATH
{
    "plugins": [
      ["module-resolver", {
        "root": ["./"],
        "alias": {
          "@core": "./src/core",
          "@hooks": "./src/hooks",
          "@shared": "./src/shared",
          "@assets": "./src/assets"
        }
      }]
    ]
  }