.fileUploadPage{
    &__heading {
        font-size: 20px;
        line-height: 150%;
        margin: 0 auto 20px;
        padding: 0px 10px 4px;
        color: #918c8c;
        /*position: relative;
        background: #263687;
        border: 2px solid #475259;*/
        /*    &:after, &:before {
                right: 100%;
                top: 50%;
                border: solid transparent;
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none
            }
            
            &:after {
                border-color: rgba(38, 54, 135, 0);
                border-right-color: #263687;
                border-width: 20px;
                margin-top: -20px;
            }
            &:before {
                border-color: rgba(71, 82, 89, 0);
                border-right-color: #475259;
                border-width: 23px;
                margin-top: -23px;
            }*/
        }
   .fileUpload {
        max-width: 800px;
        height: 100%;
        margin: 0 0 auto;
        background-color: #ffffff;
        padding: 30px 80px 40px;
        min-height: 250px;
        @media only screen and (max-width: 650px) {
            & {
                padding: 20px 20px 20px;
            }
        }
        &__heading {
            font-size: 2rem;
            font-weight: 400;
            color: #999494;
            margin: 0 0 20px 0px;
            text-align: center;
        }
        &__input {
        display: block;
        text-align: center;
        margin: auto;
        background-color: #f9f9fb;
        border: 2px dotted #a1a9b8;
        border-radius: 8px;
        width: 100%;
        height: 150px;
        position: relative;
        & .icon-file-excel {
            font-size: 55px;
            line-height: 100%;
            position: absolute;
            top: 20px;
            left: 0;
            right: 0;
            color: #909aab;
        }
        &--browse {
            color: #2091de;
            text-decoration: underline;
        }
        }
        &__button {
            display: block;
            margin: 50px auto 0;
            text-align: center;
            border-radius: 25px;
            min-width: 250px;
            height: 45px;
            background-color: #2091de;
            border: none;
            font-weight: 600;
            line-height: 100%;
            color: #ffffff;
            @media only screen and (max-width: 650px) {
                & {
                    min-width: 170px;
                    margin: 20px auto 0;
                }
            }
            &:disabled {
                background-color: #9b9ea0;
            }
            &.success {
                background-color: #0f9f25;
            }
        }
        &__filename {
            font-size: 15px;
            font-weight: 500;
            line-height: 100%;
            height: 16px;
            color: #0cbc93;;
            margin: 10px auto;
            & .filetype-error {
                color: rgb(255, 0, 21);
                padding: 10px 0 0 0px;
                display: inline-block;
            }
        }

    }
    .templateDownload {
        margin: 0 0 30px auto;
        width: 200px;
        .download-icon {
            display: block;
            text-align: center;
            font-size: 25px;
            margin: 0;
        }
        .selectbranch {
            font-size: 11px;
            font-weight: 400;
            color: black;
            margin: 0 auto 5px;
            text-align: center;
        }
        .css-wmy1p7-ReactDropdownSelect {
                background-color: #ffffff;
                border-radius: 5px;
        }
        .react-dropdown-select-dropdown {
            overflow: auto;
            width: 100% !important;
            &::-webkit-scrollbar {
                width: 5px;
                height: 5px;
                background-color: #f5f5f5;
              }
            &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #f5f5f5;
            }
        
            &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: rgb(167, 165, 165);
            }
        }
        .react-dropdown-select-input {
            font-size: 11px !important;
        }
        .react-dropdown-select-content span {
            font-size: 14px !important;
        }
    }
}