.flex-col-1 + .flex-col-2{
    margin: 0px 0 0 140px;
    padding: 80px 10px 10px 30px;
    @media only screen and (max-width: 992px) {
        & {
            margin: 0px 0 60px 0px;
            padding: 60px 10px 10px 10px;
        }
    }
}